<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @events1.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @events1.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @events1.end %>
</p>

<%= link_to 'Edit', edit_events1_path(@events1) %> |
<%= link_to 'Back', events1s_path %>
